<!DOCTYPE html>
<html class="pixel-ratio-1"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>融资融券</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="XXXX前端">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script>
    	var position="../../../";document.write(unescape("%3Cscript src='"+position+"indexTota.js?v="+Math.random()+"' type='text/javascript'%3E%3C/script%3E"));
    </script>
	

  </head>
  <body>
<div class="page" id="credit_transferred_transferCancellation"   data-pageTitle="划转撤单" data-refresh="true" data-isCheckLogin="true" data-script='trade/scripts/credit/transferred/transferCancellation.js'>
	<header class="header">
    	<div class="top_title">
        	<a href="javascript:void(0);" class="icon_back text">划转</a>
        	<h3>划转撤单</h3>
            <a href="javascript:void(0);" class="noicon_text">全部撤单</a>
        </div>
    </header>
    <section class="main">
    	<div class="toggle_nav toggle_nav_lit">
        	<ul>
        		<li><a href="javascript:void(0);" to-page="credit_transferred_collateralTransferIn" param="">转入</a></li>
                <li><a href="javascript:void(0);" to-page="credit_transferred_collateralTransferOut" param="">转出</a></li>
                <li class="active"><a href="javascript:void(0);" to-page="credit_transferred_transferCancellation" param="">撤单</a></li>
        	</ul>
        </div>
    	 <div id="v_container_funds_jj" style="margin-top: 5px;">
       		<div class="visc_wrapper" id="v_wrapper_funds_jj" data-iscrollPageId="mall_itemsJj">
       			<div class="visc_scroller">
       				<div class="visc_pullDown" style="display:none;">
       					<span class="visc_pullDownIcon"></span>
       					<div class="visc_pullDownDiv">
       						<span class="visc_pullDownLabel">下拉刷新</span><br/>
							时间更新于：<span class="visc_pullDownTime"></span>
       					</div>
       				</div>
       				
		            <div class="cancel_order mt10">
    				</div>
		            <div class="no_data" style="display:none;padding-top: 100px;">
       					<span class="icon"></span>
           				<p style="text-align:center;">暂无记录</p>
      				</div>
      				<div class="visc_pullUp" style="display:none;">
       					<span class="visc_pullUpIcon"></span>
       					<div class="visc_pullUpDiv">
							<span class="visc_pullUpLabel">上拉加载下一页</span><br/>
							时间更新于：<span class="visc_pullUpTime"></span>
						</div>
       				</div>
       			</div>
       		</div>
        </div>
    </section>
    </section>
</div>
</body></html>