<!--备兑券锁定-->
<!DOCTYPE html>
<html class="pixel-ratio-1"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>备兑券锁定</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="XXXX前端">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script>
    	var position="../../../";document.write(unescape("%3Cscript src='"+position+"indexTota.js?v="+Math.random()+"' type='text/javascript'%3E%3C/script%3E"));
    </script>
	

  </head>
  <body>
  	<div class="page page-current" id="option_order_securityLock"   data-pageTitle="备兑券锁定" data-refresh="true" data-isCheckLogin="true" data-script='trade/scripts/option/order/securityLock.js'>
	<header class="header">
    	<div class="top_title">
        	<a href="javascript:void(0)" class="icon_back"></a>
        	<h3>备兑券锁定</h3>
        </div>
    </header>
	<section class="main">
		<div class="stock_trade stock_option">
        	<div class="info_box mt10">
            	<ul>
                	<li><a href="javascript:void(0)"><span>600966 博汇纸业</span>证券名称</a></li>
            	</ul>
            </div>
            <div class="trade_box">
            	<ul>
                	<li>
                    	<span class="label">锁定数量</span>
                        <div class="input_value">
                        	<em class="less"></em><em class="add"></em><input type="text" class="text" />
                        </div>
                    </li>
                    <li>
                    	<span class="label">最多可锁</span>
                        <div class="input_limit">
                        	<input type="text" class="text" /><a href="javascript:void(0)" class="all">全部</a>
                        </div>
                    </li>
            	</ul>
            </div>
            <div class="ce_btn">
            	<a href="javascript:void(0)">提交委托</a>
            </div>
        </div>
    </section>
</div>
</body></html>
<!--备兑券锁定-->