<div class="page" id="otc_otcProStates" data-pageTitle="产品状态" data-pageLevel="1" data-refresh="true" data-isCheckLogin="true">
	<header class="header">
    	<div class="top_title">
    	    <a href="javascript:void(0);" class="icon_back text">交易</a>
        	<h3>产品状态</h3>
        </div>
    </header>
    <section class="main">
    	<dl class="otc_state_infor clearfix">
            <dt>--</dt>
            <dd>起购金额：<span>--</span></dd>
            <dd>剩余额度：<span>--</span></dd>
            <dd>递增金额：<span>--</span></dd>
            <dd>期限：<span>--天</span></dd>
        </dl>
        <ul class="otc_state_list">
            <li><span>起息日</span><strong>--</strong></li>
            <li><span>到期日</span><strong>--</strong></li>
            <li><span>产品状态</span><strong>--</strong></li>
            <li><span>收益方式</span><strong>--</strong></li>
            <li><span>风险等级</span><strong>--</strong></li>
            <li><span>剩余人数</span><strong>--</strong></li>
        </ul>
        <div class="otc_state_con">
            <div class="otc_state_input">
                <span>购买金额：</span><input type="text"  id="money">
            </div>
            <div class="otc_state_agree">
                <label for=""><input type="checkbox"  id="put_otc" checked="checked">我已经阅读并同意了<a href="javascript:void(0);">《所有协议》</a>
                </label>
            </div>
            <div class="otc_state_btn buy">
                <a href="javascript:void(0);" class="otcbuy">购买</a>
                 <a href="javascript:void(0);" style="background:#CCCCCC;display:none;" id="otcbuy">购买</a>
            </div>
        </div>
    </section>
    
     <div class="window_wrap" id="confirm_prot_info" style="display:none;">
        <div class="window mt338">
            <h2 class="titl"><em class="close"></em></h2>
            <div class="prot_text" id="prot_text">
            </div>
        </div>
     </div>
  
</div>