<div class="page" id="otc_otcSuccess" data-pageTitle="委托成功" data-refresh="true"  data-pageLevel="1" data-isCheckLogin="true">
	<header class="header">
    	<div class="top_title">
    	    <a href="javascript:void(0);" class="icon_back text">交易</a>
        	<h3>OTC</h3>
        </div>
    </header>
    <section class="main">
    	<div class="otc_success">
            <div class="otc_suc_box">
                <h2><var></var>恭喜您，委托成功</h2>
            </div>   
        </div>
        <div class="otc_state_btn">
            <a href="javascript:void(0);" id="success">确认</a>
        </div>
    </section>
</div>
