<!--查询主页-->
<!DOCTYPE html>
<html class="pixel-ratio-1"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个股期权</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="XXXX前端">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script>
    	var position="../../../";document.write(unescape("%3Cscript src='"+position+"indexTota.js?v="+Math.random()+"' type='text/javascript'%3E%3C/script%3E"));
    </script>
	

  </head>
  <body>
<div class="page page-current" id="option_query_mainQuery"   data-pageTitle="个股期权" data-refresh="true" data-isCheckLogin="true" data-script='trade/scripts/option/query/mainQuery.js'>
	<header class="header">
    	<div class="top_title">
        	<a href="javascript:void(0);" class="icon_back text">交易</a>
        	<h3>个股期权</h3>
        </div>
    </header>
    <section class="main">
    	<div class="tab_nav">
    		<ul>
                <li><a href="javascript:void(0);" to-page="option_position_holdingsQuery">持仓</a></li>
                <li><a href="javascript:void(0);" to-page="option_order_homePage">下单</a></li>
                <li class="active"><a href="javascript:void(0);" to-page="option_query_mainQuery">查询</a></li>
        	</ul>
        </div>
    	<div class="search_nav mt10">
    		<ul>
                <li><a href="javascript:void(0);" to-page="option_query_queryToday" param="entrust">当日委托</a></li>
            	<li><a href="javascript:void(0);" to-page="option_query_queryToday" param="deal">当日成交</a></li>
            </ul>
            <ul>
            	<li><a href="javascript:void(0);" to-page="option_query_queryHistory" param="entrust">历史委托</a></li>
                <li><a href="javascript:void(0);" to-page="option_query_queryHistory" param="deal">历史成交</a></li>
        	</ul>
        	<ul>
            	<li><a href="javascript:void(0);" to-page="option_query_custOwnStockQuery" param="">持仓查询</a></li>
                <li><a href="javascript:void(0);" to-page="option_query_statementQuery" param="">历史对账单查询</a></li>
                <li><a href="javascript:void(0);" to-page="option_query_deliveryOrderQuery" param="">交割单</a></li>
                <li><a href="javascript:void(0);" to-page="option_query_liabilitiesFlowQuery" param="">期权代码查询</a></li>
                <li><a href="javascript:void(0);" to-page="option_query_collateralQuery" param="">担保品划转查询</a></li>
        	</ul>
        </div>
    </section>
</div>
</body></html>