<!DOCTYPE html>
<html class="pixel-ratio-1"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>股票交易</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="XXXX前端">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
   <script>
    	var position="../../../";document.write(unescape("%3Cscript src='"+position+"indexTota.js?v="+Math.random()+"' type='text/javascript'%3E%3C/script%3E"));
    </script>
	
  </head>
  <body>
  
<div class="page page-current" id="stockTransfer_query_query" data-pageTitle="股份转让" data-refresh="true" data-isCheckLogin="true" data-script='trade/scripts/stockTransfer/query/query.js'>
	<header class="header">
    	<div class="top_title">
        	<a href="javascript:void(0);" class="icon_back text"></a>
        	<h3>股份转让</h3>
        </div>
    </header>
    <section class="main">
    	<div class="tab_nav lit">
        	<ul>
            	<li><a href="javascript:void(0);" to-page="stockTransfer_asset_holding"><span>当前持仓</span></a></li>
                <li><a href="javascript:void(0);" to-page="stockTransfer_order_order"><span>委托下单</span></a></li>
                <li  class="active"><a href="javascript:void(0);" to-page="stockTransfer_query_query"><span>委托查询</span></a></li>
        	</ul>
        </div>
	
		<div class="search_nav mt10">
        	<ul>
            	<li><a href="javascript:void(0);" to-page="stockTransfer_query_queryToday" param="entrust"><span>今日委托</span></a></li>
                <li><a href="javascript:void(0);" to-page="stockTransfer_query_queryToday" param="deal"><span>今日成交</span></a></li>
            </ul>
            <ul>
                <li><a href="javascript:void(0);" to-page="stockTransfer_query_queryHistory" param="entrust"><span>历史委托</span></a></li>
                <li><a href="javascript:void(0);" to-page="stockTransfer_query_queryHistory" param="deal"><span>历史成交</span></a></li>
        	</ul>
        	<ul>
                <li><a href="javascript:void(0);" to-page="stockTransfer_query_queryMakePriceHq"><span>定价申报行情</span></a></li>
            </ul>
        	<!--<ul>
                <li><a href="javascript:void(0);" to-page="stockTransfer_query_queryHolding"><span>持仓证券查询</span></a></li>
        	</ul>-->
        </div>
    </section>
</div>
</body></html>
