<div class="page" id="ysyy_ysyySearch" data-pageTitle="预售要约-查询" data-refresh="true" data-isCheckLogin="true">
	<header class="header">
    	<div class="top_title">
        	<a href="javascript:void(0);" class="icon_back text">交易</a>
        	<h3>预售要约</h3>
        </div>
    </header>
    <section class="main">
    	<div class="tab_nav">
        	<ul>
            	<li><a href="javascript:void(0)" to-page="ysyy_ysyyApply">要约申报</a></li>
                <li><a href="javascript:void(0)" to-page="ysyy_ysyyRemove">要约解除</a></li>
                <li class="active"><a href="javascript:void(0)" to-page="ysyy_ysyySearch">委托查询</a></li>
        	</ul>
        </div>
        <div class="offer_list">
        	<div class="part">
            	<span class="time">2015-04-12 10:32:45</span>
            	<h5>马钢股份 <small>600808</small></h5>
            	<ul class="clearfix">
                	<li><span>委托数量</span> 500</li>
                    <li><span>委托类型</span> 邀约申报</li>
                    <li><span>委托状态</span> 成功</li>
                </ul>
            </div>
        	<div class="part">
            	<span class="time">2015-04-12 10:32:45</span>
            	<h5>马钢股份 <small>600808</small></h5>
            	<ul class="clearfix">
                	<li><span>委托数量</span> 500</li>
                    <li><span>委托类型</span> 邀约申报</li>
                    <li><span>委托状态</span> 成功</li>
                </ul>
            </div>
            <div class="part">
            	<span class="time">2015-04-12 10:32:45</span>
            	<h5>马钢股份 <small>600808</small></h5>
            	<ul class="clearfix">
                	<li><span>委托数量</span> 500</li>
                    <li><span>委托类型</span> 邀约申报</li>
                    <li><span>委托状态</span> 成功</li>
                </ul>
            </div>
        </div>
    </section>
	
</div>