<!--历史行权指派查询-->
<div class="page panel" id="stockOption_stockTrade_query_historyAssign" data-refresh="yes" data-pageTitle="历史行权指派查询" data-isCheckLogin="true" data-isCheckActive="true">
	<section  class="main">
		<div class="trade_space"></div>	
		<div class="colla_main" style="padding:5px;overflow-x: hidden; overflow-y: auto; margin-top: 0px;background-color:#f6f6f6;" >
			<div class="liacthost">
           		<div class="shousuo" id="timeUntil" style="width:100%;"><a href="javascript:void(0)" class="zuijsantian pl36" value="10" id="until">近10天</a></div>
         	</div>
			<div class="trade_box" id="listContents" style="margin-top:5px;">
			</div>
			<div class="sel_list" style="display: none;">
				<div class="sel_info">
			    	<strong>时间范围：</strong>
			    </div>
			    <div>
					<ul>
						<li name="10">近10天</li>
						<li name="20">近20天</li>
						<li name="30">近30天</li>
					</ul>
				</div>
	   		</div>
		</div>
    </section>
</div>
<!--历史行权指派查询-->