<div class="page" id="otc_otcHolding" data-pageTitle="otc持仓" data-pageLevel="1" data-refresh="true" data-isCheckLogin="true">
	<header class="header">
    	<div class="top_title">
    	    <a href="javascript:void(0);" class="icon_back text">交易</a>
        	<h3>OTC</h3>
        </div>
    </header>
    <section class="main">
    <div class="tab_nav">
        	<ul>
            	<li ><a href="javascript:void(0);" to-page="otc_otcProducts">查询</a></li>
                <li class="active"><a href="javascript:void(0);" to-page="otc_otcHolding">持仓</a></li>
                <li><a href="javascript:void(0);" to-page="otc_otcCancel">撤单</a></li>
        	</ul>
        </div>
        
        		<div class="hold_main">
				       	<div class="inner">
				       		<p class="icon rmb"><i></i>人民币<strong>RMB</strong></p>
				               <div class="hold_table">
				                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ct_table">
				                     <tr>
				                       <td><strong>--</strong> 产品名称</td>
				                       <td><strong>--</strong> 产品代码</td>
				                       <td><strong>--</strong> 产品期限</td>
				                     </tr>
				                     <tr>
				                      <td><strong>--</strong>总资产 </td>
				                       <td><strong>--</strong> 投入金额</td>
				                       <td><strong>--</strong> 到期日</td>
<!-- 				                       <td><a href="javascript:void(0);" id="transfer">银证转账</a></td> -->
				                     </tr>
				                   </table>
				               </div>
				       	</div>
				      
				   </div>
    	
    </section>
</div>